# <center> UNIVERSIDAD NACIONAL DE SAN AGUSTIN DE AREQUIPA

<img src= "https://universidadesgratuitas.com/wp-content/uploads/2020/06/logo-unsa-facultad-de-ingenieria-unsa-unsa-salud-universidad-unsa-unsa-matriculas-unsa-carreras-a-distancia-aula-virtual-unsa.png" width="300" height="250">

## <center> FACULTAD DE PRODUCCION Y SERVICIOS

### <center> ESCUELA DE TELECOMUNICACIONES

# Alumno: Larico Yucra,Cristhian Denis 

# CURSO : Computacion 1

# Profesor: ING. Renzo Bolivar

# <center> ESTRUCTURA ITERATIVAS

# ESTRUCTURA ITERATIVAS - bucle FOR

# FOR

In [4]:
#for integrando una linea
num=[200,8,1500,10]
for o in num:
    print(o)

200
8
1500
10

In [11]:
# for integrando un string
amor="el", "amor", "de", "mi", "vida", "cumple", "años", "hoy"
for r in amor:
    print(r)

el
amor
de
mi
vida
cumple
años
hoy

In [13]:
yo="CRISTHIANLARICOYUCRA"
for r in yo:
    print(r)

C
R
I
S
T
H
I
A
N
L
A
R
I
C
O
Y
U
C
R
A

In [17]:
#"for " Hallando la longitud de los elementos de una linea
for nombre in ["cristhiancito","cesitar","jhordancito","rudycito","manucito"]:
    print("hola {0} la longitud de tu nombre es de : {1} caracteres. " .format(nombre,len(nombre)))

hola cristhiancito la longitud de tu nombre es de : 13 caracteres.
hola cesitar la longitud de tu nombre es de : 7 caracteres.
hola jhordancito la longitud de tu nombre es de : 11 caracteres.
hola rudycito la longitud de tu nombre es de : 8 caracteres.
hola manucito la longitud de tu nombre es de : 8 caracteres.

# Hacer un programa que integre a lo largo de una lista que contenga colores y añada (appends) todos los colores que contengan la letra r a una  nueva lista

In [21]:
#lista de colores 
colo=["pink","blue","green","purple","yellow","black"]
#nueva lista 
colo_con_r = []

for m in colo:
    if "r" in m:
        colo_con_r.append(m)
print(colo_con_r)

['green', 'purple']

# <center> FUNCION RANGE( )

In [25]:
#"for" utilizando la funcion range con 1 parametro 
for i in range(22):
    print(i)
print("mi edad #estoy_viejo")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
mi edad #estoy_viejo

# hacer un programa que imprima del numero 1 al 10

In [26]:
#******************podemos usar un argumento*************************
#añadiremos el parametro end="" para que por defecto no genere una nueva linea
for u in range(22):
    print(u +  1,"",end="")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

In [30]:
#hacemos lo mismo 
for u in range(1,22):
    print(u,  "  ",end="")
# no agarra el 22 c:

1   2   3   4   5   6   7   8   9   10   11   12   13   14   15   16   17   18   19   20   21

In [27]:
for u in range(2,10,2):
    print(u,"  ",end=   "  ")

2     4     6     8

In [32]:
#inicio=20 , un final =0 y una longitud de paso -2
for u in range(20,0,-2):
    print(u,"",end="")

20 18 16 14 12 10 8 6 4 2

In [33]:
#inicio en "40", un final =-5 y una longitud de paso -5
for u in range(40,-5,-5):
    print(u,"",end="")

40 35 30 25 20 15 10 5 0

In [36]:
#inicio en 50, un final =-1 y una longitud de -5
for u in range(50,-1,-5):
    print(u,"",end="")

50 45 40 35 30 25 20 15 10 5 0

# <center> MODIFICANDO LA INTEGRACION DE BUVLE FOR: BREAK Y CONTINUE

### <CENTER> Uso de break

In [37]:
#LISTA DE NUMERO
lista1=[2,4,5,7,8,9,3,4]

#utilizamos un contador iniciamos en 0 o en -1
conta= 0

for m in lista1:
    conta = conta + 1
    if m == 9 :
        break
        
print(conta)

6

###  <center> Asignacion Abreviada

In [41]:
contador = 1
#contador = contador +1
contador /= 5                         #Hay abreviaturas similares para -=, *=, //= y #=
c=1 
c+=1
print(c)

2

In [45]:
#lista de numeros sin el numero"9"
lista1 = [2,4,5,7,8,19,3]

#utilizamos un contador reducido

cont= -1

for m in lista1:
    cont +=  1
    if m == 9 :
        break

else:
## usamos "for" conjugamos con "else"
    cont = -1
    print("no se encontro el numero 9 ")
    
if cont >= 0:
    print(cont)

no se encontro el numero 9

### <center> Uso de continue:

In [46]:
numero=[15,17,19,22,28,29,34,36,45,57,95,100]

for p in numero:
    if p % 2 !=0:
        continue
    print(p)

22
28
34
36
100

## <center > fin de la practica numero 4

<img src= "" width="300" height="250">

# <center> EJEMPLO

### ESTRUCTURA INTERACTIVA " For"

# 1) HACER UN PROGRAMA MOSTRANDO POR LA PANTALLA LOS NUMEROS PARES DEL 0 AL 10:

In [37]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

# 2) Hacer unprograma que permita nombres a  una lista, utilizando funciones

In [51]:
# inicializamos la lista vacia 
nombres =[]

#funcion ingreso nombre


def ingreso(ele):
    for i in range(0,ele):
        m=input("ingresar nombre de la posicion {0}:".format(i))
        nombres.append(m)
T=int(input("de cuantos elementos crearemos la lista de nombres:"))

ingreso(T)

print("\n la lista completa de nombres es: \n",nombres)

de cuantos elementos crearemos la lista de nombres:5
ingresar nombre de la posicion 0:cristhian
ingresar nombre de la posicion 1:cesar
ingresar nombre de la posicion 2:jhordan
ingresar nombre de la posicion 3:rudy
ingresar nombre de la posicion 4:manuel

 la lista completa de nombres es:
 ['cristhian', 'cesar', 'jhordan', 'rudy', 'manuel']

# METODO 2 HACER UN PROGRAMA QUE DE UNA LISTA DE NUMEROS QUE IMPRIMA LA PISICION DEL NUMERO 9, UTILIZANDO FUNCION ENUMERATE

In [55]:
#LISTA DE NUEMRO
lista = [2,12,13,15,16,22,25,28]

#UTILIZO LA FUNCION "ENUMERATE" QUE DEVUELVE UNA TUPLA (ES IGUAL A LISTA PERO ES INMUTABLE)

# TUPLA DE 2 ELEMENTOS DE UNA LISTA (POSICION, CONTENIDO)
for i,m in enumerate(lista):
    if m == 9:
        break
        
else:

#USAMOS "FOR" CONJUNTAMENTE CON "ELSE"
    #PODEMOS NEGATIVA LA PÒSICION
    i= -1
    print("no se encontro el numero 9 eso quiere decir que no hay en tu lista no hay 9  pues, tu puedes no te desanimes xd")
    
if i >= 0:
    print(i)

no se encontro el numero 9 eso quiere decir que no hay en tu lista no hay 9  pues, tu puedes no te desanimes xd

# Hacer un programa que le a la lista de libro de Mario Vargas Llosa e indique el orden de los libros

In [61]:
#lista de libros de Mario Vargas Llosa NUESTRO PREMIO NOBEL  DE LA LITERATURA :,)
libros_de_mvll=["La ciudad de los perros","La casa verde","Pantaleon y las visitadoras"]
#lista Orden de los libros
orden=["primer","segundo","tercer"]

for i, libros in enumerate(libros_de_mvll):
    print("\n El " + orden[i] +" libro de Mario Llosa es:"+ libros)

 El primer libro de Mario Llosa es:La ciudad de los perros

 El segundo libro de Mario Llosa es:La casa verde

 El tercer libro de Mario Llosa es:Pantaleon y las visitadoras

# Hacer un programa que realice invitaciones de una lista de nombres .

In [66]:
for f in ["CESAR","JHORDAN","CRISTHIAN","RUDY","MANUEL","PROFESOR"]:
    invitacion= "Hola "+ f + " ¡estas invitado a una super fiesta el 30 de diciembre !"
    print(invitacion)
    print("traes comida :3 menos el PROFESOR c:")

Hola CESAR ¡estas invitado a una super fiesta el 30 de diciembre !
traes comida :3 menos el PROFESOR c:
Hola JHORDAN ¡estas invitado a una super fiesta el 30 de diciembre !
traes comida :3 menos el PROFESOR c:
Hola CRISTHIAN ¡estas invitado a una super fiesta el 30 de diciembre !
traes comida :3 menos el PROFESOR c:
Hola RUDY ¡estas invitado a una super fiesta el 30 de diciembre !
traes comida :3 menos el PROFESOR c:
Hola MANUEL ¡estas invitado a una super fiesta el 30 de diciembre !
traes comida :3 menos el PROFESOR c:
Hola PROFESOR ¡estas invitado a una super fiesta el 30 de diciembre !
traes comida :3 menos el PROFESOR c:

# Hacer un programa que sume los elementos de una lista , USAR funciones y listas

In [71]:
#SOLICITA USAR FOR Y FUNCIONES, NO SE PDE USAR FUNCION "SUM"
def mysum(xs):
    runnig_total=0
    for x in xs:
        runnig_total=runnig_total+x
    return runnig_total

# ADD TESTS  LIKE THESE TO YOUR TEST SUITE

print(mysum([1 ,2 ,3 , 4]))                    # ==>> 10
print(mysum([1.25 ,2.5 ,1.75]))               #==>> 5.5
print(mysum([1, -2,  3]))                       # ==>> 2
print(mysum([1, 2, 3,4  ]))                      # ==>>  10 
print(mysum(range(11)))                      # ==>>   55
print(mysum([]))                             # ==>> 0

10
5.5
2
10
55
0

# Hacer un programa que sume los elementos de una lista usando una funcion sum

In [67]:

m=[1 ,2 ,3 ,4]
sum(m)

10

# Hacer un programa que imprima los multiplos hasta el 10 de cualquier numero

In [68]:
#CREAMOS LA FUNCION MULTIPLOS
def multiplos (n):
    for i in range(1, 11):
        print(n * i, end="  ")
    print()
#LLAMAMOS A LA FUNCION CON EL NUMERO DE MULTIPLO DESEADO 


m=int(input("Ingrese un numero: "))
print ("\n Los multiplos de ", m ," son: ")
multiplos(m)

Ingrese un numero: 3

 Los multiplos de  3  son:
3  6  9  12  15  18  21  24  27  30

# <CENTER>Ejemplo de FOR animado : creacion de tablas

In [70]:
for A in range(0,4):
    for C in range(0,4):
        for M in range(0,2):
            print(A,C,M)

0 0 0
0 0 1
0 1 0
0 1 1
0 2 0
0 2 1
0 3 0
0 3 1
1 0 0
1 0 1
1 1 0
1 1 1
1 2 0
1 2 1
1 3 0
1 3 1
2 0 0
2 0 1
2 1 0
2 1 1
2 2 0
2 2 1
2 3 0
2 3 1
3 0 0
3 0 1
3 1 0
3 1 1
3 2 0
3 2 1
3 3 0
3 3 1

# Hacer un programa que permita hallar la raiz enesima de un numero que se ingresara por teclado

In [72]:
numero = float(input("Ingrese un numero: "))

for n in range (2,101):
    print("la raiz {0} - enesima de {1} es {2} ".format(n,numero,numero**(1/n)))

Ingrese un numero: 6
la raiz 2 - enesima de 6.0 es 2.449489742783178
la raiz 3 - enesima de 6.0 es 1.8171205928321397
la raiz 4 - enesima de 6.0 es 1.5650845800732873
la raiz 5 - enesima de 6.0 es 1.4309690811052556
la raiz 6 - enesima de 6.0 es 1.3480061545972777
la raiz 7 - enesima de 6.0 es 1.2917083420907467
la raiz 8 - enesima de 6.0 es 1.2510334048590739
la raiz 9 - enesima de 6.0 es 1.2202849358728105
la raiz 10 - enesima de 6.0 es 1.1962311988513155
la raiz 11 - enesima de 6.0 es 1.1769039562428527
la raiz 12 - enesima de 6.0 es 1.1610366723739942
la raiz 13 - enesima de 6.0 es 1.1477777154347986
la raiz 14 - enesima de 6.0 es 1.1365334760097243
la raiz 15 - enesima de 6.0 es 1.1268776101908264
la raiz 16 - enesima de 6.0 es 1.1184960459738218
la raiz 17 - enesima de 6.0 es 1.1111523342970424
la raiz 18 - enesima de 6.0 es 1.1046650785974952
la raiz 19 - enesima de 6.0 es 1.0988928027655247
la raiz 20 - enesima de 6.0 es 1.0937235477264424
la raiz 21 - enesima de 6.0 es 1.0890675587944523
la raiz 22 - enesima de 6.0 es 1.0848520434800557
la raiz 23 - enesima de 6.0 es 1.0810173469046067
la raiz 24 - enesima de 6.0 es 1.0775141170184241
la raiz 25 - enesima de 6.0 es 1.0743011732208552
la raiz 26 - enesima de 6.0 es 1.0713438829035236
la raiz 27 - enesima de 6.0 es 1.0686129101356392
la raiz 28 - enesima de 6.0 es 1.0660832406569969
la raiz 29 - enesima de 6.0 es 1.063733414541692
la raiz 30 - enesima de 6.0 es 1.0615449167090512
la raiz 31 - enesima de 6.0 es 1.0595016886637296
la raiz 32 - enesima de 6.0 es 1.0575897342418854
la raiz 33 - enesima de 6.0 es 1.0557967989083417
la raiz 34 - enesima de 6.0 es 1.0541121070820896
la raiz 35 - enesima de 6.0 es 1.0525261456012585
la raiz 36 - enesima de 6.0 es 1.0510304841428222
la raiz 37 - enesima de 6.0 es 1.0496176254437533
la raiz 38 - enesima de 6.0 es 1.0482808797099776
la raiz 39 - enesima de 6.0 es 1.0470142587761369
la raiz 40 - enesima de 6.0 es 1.045812386485474
la raiz 41 - enesima de 6.0 es 1.0446704224624213
la raiz 42 - enesima de 6.0 es 1.0435839969999792
la raiz 43 - enesima de 6.0 es 1.042549155216214
la raiz 44 - enesima de 6.0 es 1.0415623089763069
la raiz 45 - enesima de 6.0 es 1.0406201953489853
la raiz 46 - enesima de 6.0 es 1.039719840584283
la raiz 47 - enesima de 6.0 es 1.038858528775155
la raiz 48 - enesima de 6.0 es 1.0380337745075658
la raiz 49 - enesima de 6.0 es 1.0372432989191824
la raiz 50 - enesima de 6.0 es 1.0364850086811943
la raiz 51 - enesima de 6.0 es 1.0357569774952138
la raiz 52 - enesima de 6.0 es 1.0350574297610367
la raiz 53 - enesima de 6.0 es 1.0343847261238408
la raiz 54 - enesima de 6.0 es 1.0337373506532688
la raiz 55 - enesima de 6.0 es 1.0331138994434157
la raiz 56 - enesima de 6.0 es 1.0325130704533463
la raiz 57 - enesima de 6.0 es 1.0319336544334674
la raiz 58 - enesima de 6.0 es 1.0313745268047354
la raiz 59 - enesima de 6.0 es 1.0308346403759792
la raiz 60 - enesima de 6.0 es 1.0303130188001368
la raiz 61 - enesima de 6.0 es 1.0298087506834
la raiz 62 - enesima de 6.0 es 1.0293209842725104
la raiz 63 - enesima de 6.0 es 1.0288489226550819
la raiz 64 - enesima de 6.0 es 1.0283918194160655
la raiz 65 - enesima de 6.0 es 1.0279489747005777
la raiz 66 - enesima de 6.0 es 1.027519731639418
la raiz 67 - enesima de 6.0 es 1.0271034730988913
la raiz 68 - enesima de 6.0 es 1.0266996187211181
la raiz 69 - enesima de 6.0 es 1.0263076222249912
la raiz 70 - enesima de 6.0 es 1.0259269689413855
la raiz 71 - enesima de 6.0 es 1.0255571735592441
la raiz 72 - enesima de 6.0 es 1.0251977780617856
la raiz 73 - enesima de 6.0 es 1.0248483498343846
la raiz 74 - enesima de 6.0 es 1.0245084799276936
la raiz 75 - enesima de 6.0 es 1.0241777814613477
la raiz 76 - enesima de 6.0 es 1.0238558881551532
la raiz 77 - enesima de 6.0 es 1.0235424529760397
la raiz 78 - enesima de 6.0 es 1.0232371468902683
la raiz 79 - enesima de 6.0 es 1.0229396577114687
la raiz 80 - enesima de 6.0 es 1.0226496890360228
la raiz 81 - enesima de 6.0 es 1.0223669592581706
la raiz 82 - enesima de 6.0 es 1.0220912006579554
la raiz 83 - enesima de 6.0 es 1.021822158555803
la raiz 84 - enesima de 6.0 es 1.0215595905281194
la raiz 85 - enesima de 6.0 es 1.0213032656788383
la raiz 86 - enesima de 6.0 es 1.0210529639623078
la raiz 87 - enesima de 6.0 es 1.0208084755533517
la raiz 88 - enesima de 6.0 es 1.0205696002607108
la raiz 89 - enesima de 6.0 es 1.0203361469804202
la raiz 90 - enesima de 6.0 es 1.0201079331859866
la raiz 91 - enesima de 6.0 es 1.0198847844525065
la raiz 92 - enesima de 6.0 es 1.0196665340121167
la raiz 93 - enesima de 6.0 es 1.0194530223384006
la raiz 94 - enesima de 6.0 es 1.0192440967575702
la raiz 95 - enesima de 6.0 es 1.019039611084432
la raiz 96 - enesima de 6.0 es 1.0188394252813178
la raiz 97 - enesima de 6.0 es 1.0186434051383018
la raiz 98 - enesima de 6.0 es 1.018451421973175
la raiz 99 - enesima de 6.0 es 1.0182633523497657
la raiz 100 - enesima de 6.0 es 1.0180790778133073

In [75]:
# Creo la lista de validacion

num=["1","2","3","4","5","6","7","8","9","0"]
sim=["?","!","$","%","&","/","°","~"]

def validar(nomap):
    for x in nomap:
        if x in num:
            print("Nombre no valido!!!")
        elif x in sim:
            print("Nombre no valido!!!")
        else:
            print("Nombre valido")

#ingresar nombre
            
            
nom=input("Ingrese su nombre: ")
 #llaman a la funcion
validar(nom)

#ingresar nombre
apell=input("Ingrese su apellido: ")


#llamar a la funcion

validar(apell)

Ingrese su nombre: Cristhian
Nombre valido
Nombre valido
Nombre valido
Nombre valido
Nombre valido
Nombre valido
Nombre valido
Nombre valido
Nombre valido
Ingrese su apellido: Larico
Nombre valido
Nombre valido
Nombre valido
Nombre valido
Nombre valido
Nombre valido

# <center> FINALIZANDO LA PRACTICA NUMERO 4

<img src= "" width="300" height="250">

# PORFA NO COPIEN MI REPOSITORIO, EL PROFE ME VA A JALAR Y NOS BOTARA DEL CURSO  YO YA TENGO MIEDO.

# 01010000 01010010 01001111 01000110 01000101 01010011 01001111 01010010 00100000 01001100 01001111 00100000 01010001 01010101 01001001 01000101 01010010 01001111 00100000 01001101 01010101 01000011 01001000 01001111 00100000 01001110 01001111 00100000 01001101 01000101 00100000 01001010 01000001 01001100 01000101 00100000 00100000 01000100 01000101 01001100 00100000 01000011 01010101 01010010 01010011 01001111 00100000 00111010 00101100 00101001

ingresa tu numero : 8
Tabla del numero 8.0

la multiplicacion de: 8.0 x 1 = es igual a 8.0
la multiplicacion de: 8.0 x 2 = es igual a 16.0
la multiplicacion de: 8.0 x 3 = es igual a 24.0
la multiplicacion de: 8.0 x 4 = es igual a 32.0
la multiplicacion de: 8.0 x 5 = es igual a 40.0
la multiplicacion de: 8.0 x 6 = es igual a 48.0
la multiplicacion de: 8.0 x 7 = es igual a 56.0
la multiplicacion de: 8.0 x 8 = es igual a 64.0
la multiplicacion de: 8.0 x 9 = es igual a 72.0
la multiplicacion de: 8.0 x 10 = es igual a 80.0
Amo las matematicas

Ingrese su comentario porfavor :bueno
como te llamas ¿?: crishtian
crishtian
cuantos años tienes: 12
12
el comentario que se introdujo es positivo ['bueno']

In [ ]:
print("capicua")
def capicua(m,n):
    for 1 in rango(m,n):
        j =str(i)
        x=i(::+1)
        if i==x:
            print(1,"es un numero capicua")

ini = int(input("ingrese numero de 3 cifras, ese sera el numero inicial del rango:"))
end = int(input("ingrese numero de 3 cifras, ese sera el numero final del rango:"))