# <CENTER> UNIVERSIDAD NACIONAL DE SAN AGUSTIN

<img src= "https://universidadesgratuitas.com/wp-content/uploads/2020/06/logo-unsa-facultad-de-ingenieria-unsa-unsa-salud-universidad-unsa-unsa-matriculas-unsa-carreras-a-distancia-aula-virtual-unsa.png" width="300" height="250">

# <CENTER> ESCUELA PROFECIONAL DE INGENIERÌA EN TELECOMUNICACIONES

# <CENTER> ALUMNO: LARICO YUCRA, CRISTHIAN DENIS

### <CENTER>PRACTICA 2

<CENTER> "VARIABLES Y TIPOS DE DATOS"

In [7]:
x= 5             #Numero Entero
y= 5.5           #Numero Flotante
j="q"            #Caracter string
k="Buenos Dias"  #Cadena de Caracteres string
m=True           #Logico

In [4]:
type(x)#numero entero

int

In [8]:
type(y)            #numero flotante

float

In [9]:
type(j)                #caracter string

str

In [10]:
type(m)            #logico

bool

In [11]:
print(type(x))

<class 'int'>

# <center> OPERADORES ARITMETICOS

In [12]:
15 / 6

2.5

In [13]:
15 // 6

2

In [14]:
15%6

3

In [16]:
a=27
b=6

print (a/b)
print(a//b)
print(a%b)

4.5
4
3

## <CENTER> ORDEN DE OPERADORES

In [17]:
-3 + 4 ** 2 * 10/5

29.0

In [18]:
(-3 + 4) ** 2 * 10/5

2.0

In [19]:
a = 6
b=9.5
resultado = (a*b)//2
print(resultado)
print(type(resultado))

28.0
<class 'float'>

# <CENTER> OPERACIONALES RELACIONALES

In [20]:
10 > 50

False

In [21]:
x = 100
y = 14

x==y

False

In [22]:
print(x==y)

False

# <CENTER> OPERADORES LOGICOS

In [23]:
A =True
B = False

A and b

9.5

In [24]:
print (A  and B)

False

# <center> FUNCIONES SIMPLES

In [1]:
# definimos una funcion simples
# impresion repetida

def imprime_3():
    print("Buenos Dias")
    print("Buenos Dias")
    print("Buenos Dias")
    
imprime_3()

Buenos Dias
Buenos Dias
Buenos Dias

In [5]:
# definimos una funcion simples
# impresion repetida

def imprime_3():
    print(" Buenos Dias \n" *3 )
    
imprime_3()

 Buenos Dias
 Buenos Dias
 Buenos Dias

In [10]:
# definimos una funcion simples
# impresion repetida

def imprime_3 (a):
    print(a*10)
x = "Hola mundo \n"
imprime_3(x)

Hola mundo
Hola mundo
Hola mundo
Hola mundo
Hola mundo
Hola mundo
Hola mundo
Hola mundo
Hola mundo
Hola mundo

In [13]:
# definimos una funcion simple
# area del cuadrado
def area_cuadrado(lado):
    area = lado **2
    return(area)
print (area_cuadrado(6))

36

In [15]:
# Utilizamos funcion matematicas conocidas

import math

pi = math.pi
print(pi)

3.141592653589793

# <CENTER> EJEMPLOS EN JUPYTER NOTEBOOK

# variables

In [18]:
 #Cambiado el resultado de la impresion en pantalla 
x = "Bienvenidos a Phyton"
y = 'en minusculas'


lowcase = x.lower()         #cadena de caracteres en minusculas
uppcase = x.upper()         #cadena de caracteres en mayusculas
titcase = y.title()         #cadena de caracteres como titulo

print('\n',lowcase)
print('\n',uppcase)
print('\n',titcase)

 bienvenidos a phyton

 BIENVENIDOS A PHYTON

 En Minusculas

In [19]:
 #Cambiado el resultado de la impresion en pantalla tabulando
x = "Bienvenidos a Phyton"
y = 'en minusculas'


lowcase = x.lower()         #cadena de caracteres en minusculas
uppcase = x.upper()         #cadena de caracteres en mayusculas
titcase = y.title()         #cadena de caracteres como titulo

print('\t',lowcase,'\t',uppcase,'\t',titcase)   #\t ingresa "tabulado"

	 bienvenidos a phyton 	 BIENVENIDOS A PHYTON 	 En Minusculas

In [20]:
#cambiando el resultado de la impresion en pantalla mezcla con variables

nom ="milo"
age =25
print("Hola,\n Me llamo: ", nom, "\n y tengo: ",age, "años")  #\n ingresa "enter"

Hola,
 Me llamo:  milo
 y tengo:  25 años

In [21]:
#imprimiendo en una  variable

x= 10 *3.25
y=200 * 200
#repr(obj) : Retorna una cadena que contiene una representacion imprimible de "obj"
z= 'el valor de "x" es : ' +   repr (x) + ', y el valor de "y" es' + repr (y) +'...'

print(z)
print ('el valor de "x" es: ',x,', y el valor de "y" es ',y,' ... ')

el valor de "x" es : 32.5, y el valor de "y" es40000...
el valor de "x" es:  32.5 , y el valor de "y" es  40000  ...

# FORMATEAR CADENAS

In [25]:
#Formatear cadenas con f-strings
#Importamos libreria "math" para utilizar funciones adicionales de matematicas

import math

print (f'el valor de "pi" es proximadamente: {math.pi:3f}')#".3f" permite una precision de 3 decimales

el valor de "pi" es proximadamente: 3.141593

In [27]:
#reimprimiendo ejemploi anterior con variables 
nom = "Milo"
age = 25

print(f"hola,\n Me llamo: {nom} \n y tengo: {age} años. ")

hola,
 Me llamo: Milo
 y tengo: 25 años.

In [32]:
# Formatear cadenas con str.format()
# un numero en las llaves se refiere a la posicion del objeto pasado en el metodo str.format().
# remprimiendo ejemplo anterior con variables 
nom= "Milo"
age = 25

print("Hola,\n Me llamo: {0} \n y tengo {1} años.".format(nom,age))

Hola,
 Me llamo: Milo
 y tengo 25 años.

# <center>Funcion Input(        )

In [39]:
# ingreso por teclado
print ("Ingrese su Nombre")
nom = input()

print(f"un gusto conocerte , {nom}")

Ingrese su Nombre
LARICO YUCRA, CRISTHIAN DENIS
un gusto conocerte , LARICO YUCRA, CRISTHIAN DENIS

In [40]:
# INGRESO POR TECLADO EN UNA SOLA LINEA

nom = input("ingrese su nombre: ")

print(f"Un gusto conocerte , {nom}")

ingrese su nombre: CRISTHIAN DENIS LARICO YUCRA
Un gusto conocerte , CRISTHIAN DENIS LARICO YUCRA

# <CENTER>FUNCIONES

In [42]:
# HACER UN POGRAMA QUE UTILICE UNA FUNCION QUE CALCULE EL IMPORTE TOTAL DE UN PRIDUCTO (PRECIO +IGV),
#SE INGRESA POR TECLADO PRECIO Y NOMBRE DEL PRODUCTO

def valor(precio):
    igv = precio * 0.18
    importe=precio + igv
    return(importe)
producto = input('ingrese nombre del producto: ')
importe = input("ingrese el precio del producto: ")


print('el importe total de {0}, es : {1}'.format(producto,valor(importe)))

ingrese nombre del producto: mi corazon
ingrese el precio del producto: 18

TypeError: can't multiply sequence by non-int of type 'float'

In [44]:
def valor(precio):
    igv = precio * 0.18
    importe=precio + igv
    return(importe)


producto = input('Ingrese nombre del Producto: ')
imp = float(input("Ingrese el Precio del Producto:"))   #corregimos canbiando el ingreso como tipo float

print('El importe total de {0}, es: {1}'.format(producto,valor(imp)))

Ingrese nombre del Producto: MI CORAZON
Ingrese el Precio del Producto:5
El importe total de MI CORAZON , es: 5.9

# <center> PRACTICA TERMINADA