#       CASO NETFLIX

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
#archivo csv separado por comas
x=data = pd.read_csv('hipotetico - Respuestas de formulario 1.csv')

#leer lineas
data

,EMAIL,SECO DE CABRITO,OCOPA AREQUIPEÑA,CARAPULCRA CON SOPASECA,CAUSA RELLENA,PAPA RELLENA
0,kmamanica@unsa.edu.pe,3.0,NaN,3.0,5.0,5.0
1,esther.o.sara@gmail.com,5.0,3.0,2.0,NaN,5.0
2,mprietot@unsa.edu.pe,3.0,2.0,NaN,5.0,2.0
3,nalufreyja13@gmail.com,NaN,5.0,1.0,5.0,NaN
4,mrodriguezlau@unsa.edu.pe,1.0,4.0,1.0,5.0,5.0

In [3]:
data.dtypes

EMAIL                        object
SECO DE CABRITO             float64
OCOPA AREQUIPEÑA            float64
CARAPULCRA CON SOPASECA     float64
CAUSA RELLENA               float64
PAPA RELLENA                float64
dtype: object

In [4]:
from scipy.spatial.distance import euclidean

In [5]:
data.notnull().tail()

,EMAIL,SECO DE CABRITO,OCOPA AREQUIPEÑA,CARAPULCRA CON SOPASECA,CAUSA RELLENA,PAPA RELLENA
0,True,True,False,True,True,True
1,True,True,True,True,False,True
2,True,True,True,False,True,True
3,True,False,True,True,True,False
4,True,True,True,True,True,True

In [7]:
u = x[x.columns[1:]].to_numpy()
v = x[x.columns[0]].to_numpy()

print(u)
print(v)

[[ 3. nan  3.  5.  5.]
 [ 5.  3.  2. nan  5.]
 [ 3.  2. nan  5.  2.]
 [nan  5.  1.  5. nan]
 [ 1.  4.  1.  5.  5.]]
['kmamanica@unsa.edu.pe' 'esther.o.sara@gmail.com' 'mprietot@unsa.edu.pe'
 'nalufreyja13@gmail.com' 'mrodriguezlau@unsa.edu.pe']

In [35]:
from pandas import DataFrame
vector=len(u)
matriz= np.zeros((vector,vector))

for i in range(vector):
    for j in range(vector):
        if j and i== np.NaN:
            continue
        else:
            dist=np.sqrt(np.nansum((u[i]-u[j])**2))
            simil=(1/(1+dist))
            matriz[i][j] = simil


da = pd.DataFrame(matriz,columns=v,index=v)
da.round(decimals=4)

,kmamanica@unsa.edu.pe,esther.o.sara@gmail.com,mprietot@unsa.edu.pe,nalufreyja13@gmail.com,mrodriguezlau@unsa.edu.pe
kmamanica@unsa.edu.pe,1.0000,0.3090,0.2500,0.3333,0.2612
esther.o.sara@gmail.com,0.3090,1.0000,0.2109,0.3090,0.1907
mprietot@unsa.edu.pe,0.2500,0.2109,1.0000,0.2500,0.1952
nalufreyja13@gmail.com,0.3333,0.3090,0.2500,1.0000,0.5000
mrodriguezlau@unsa.edu.pe,0.2612,0.1907,0.1952,0.5000,1.0000

In [37]:
cl=da.abs().unstack()
cl.sort_values(ascending=False)[range(4,9)]

kmamanica@unsa.edu.pe      kmamanica@unsa.edu.pe        1.000000
nalufreyja13@gmail.com     mrodriguezlau@unsa.edu.pe    0.500000
mrodriguezlau@unsa.edu.pe  nalufreyja13@gmail.com       0.500000
kmamanica@unsa.edu.pe      nalufreyja13@gmail.com       0.333333
nalufreyja13@gmail.com     kmamanica@unsa.edu.pe        0.333333
dtype: float64

In [19]:
n = da[da.columns[1:]].to_numpy()
m = da[da.columns[0]].to_numpy()

In [16]:
nampa_matriz=np.corrcoef(n)
nampa_matriz

array([[ 1.        ,  0.46654364, -0.60759835,  0.69855636, -0.18367189],
       [ 0.46654364,  1.        , -0.38043994, -0.29083803, -0.52132918],
       [-0.60759835, -0.38043994,  1.        , -0.47439067, -0.50359756],
       [ 0.69855636, -0.29083803, -0.47439067,  1.        ,  0.35180932],
       [-0.18367189, -0.52132918, -0.50359756,  0.35180932,  1.        ]])

In [18]:
manu=DataFrame(nampa_matriz,columns=v,index=v)
manu.round(decimals=4)

,kmamanica@unsa.edu.pe,esther.o.sara@gmail.com,mprietot@unsa.edu.pe,nalufreyja13@gmail.com,mrodriguezlau@unsa.edu.pe
kmamanica@unsa.edu.pe,1.0000,0.4665,-0.6076,0.6986,-0.1837
esther.o.sara@gmail.com,0.4665,1.0000,-0.3804,-0.2908,-0.5213
mprietot@unsa.edu.pe,-0.6076,-0.3804,1.0000,-0.4744,-0.5036
nalufreyja13@gmail.com,0.6986,-0.2908,-0.4744,1.0000,0.3518
mrodriguezlau@unsa.edu.pe,-0.1837,-0.5213,-0.5036,0.3518,1.0000

In [30]:
cl=manu.abs().unstack()
cl.sort_values(ascending=False)[range(4,9)]

kmamanica@unsa.edu.pe   kmamanica@unsa.edu.pe     1.000000
nalufreyja13@gmail.com  kmamanica@unsa.edu.pe     0.698556
kmamanica@unsa.edu.pe   nalufreyja13@gmail.com    0.698556
                        mprietot@unsa.edu.pe      0.607598
mprietot@unsa.edu.pe    kmamanica@unsa.edu.pe     0.607598
dtype: float64